apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      imagePullSecrets:
        - name: acr-auth
      containers:
        - name: user-service
          image: slopeoasisacr.azurecr.io/user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          readinessProbe: #tuki
            httpGet:
              path: /healthuser
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /healthuser
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3 #tuki
          env:
              - name: SPRING_DATASOURCE_USERNAME
                valueFrom:
                  secretKeyRef:
                    name: user-db-secret
                    key: PGUSER
              - name: SPRING_DATASOURCE_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: user-db-secret
                    key: PGPASSWORD
              - name: PGHOST
                valueFrom:
                  secretKeyRef:
                    name: user-db-secret
                    key: PGHOST
              - name: PGPORT
                valueFrom:
                  secretKeyRef:
                    name: user-db-secret
                    key: PGPORT
              - name: PGDATABASE
                valueFrom:
                  secretKeyRef:
                    name: user-db-secret
                    key: PGDATABASE
          envFrom:
            - configMapRef:
                name: user-service-config
